h2 {
    color: #1A5276;
    font-size: 50px;
    font-family:'Roboto Mono', monospace;
}

h3 {
    color: greenyellow;
}

.lindos-gatos {
    width: 600px;
    border-width: 15px;
    border-color: black;
    border-style: double;
    border-radius: 50%;
}

p {
    color: #8E44AD;
}

ul {
    color: blue;
}

ol {
    color: blue;
}

img {
    width: 400px;
    border-width: 35px;
    border-color: red;
    border-style: dotted;
    border-radius: 40px;
}

